<launch>
        <param name="/camera/driver/data_skip" value="2" />
	

  	<include file="$(find myrabot_bringup)/launch/myrabot_xtion.launch" />

  	<node name="serial_node" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" />

  
  	<node name="joint_states_brazo" pkg="myrabot_arm_base_b" type="joint_states_brazo" />
  
  	<include file="$(find find_object_2d)/launch/find_object_3d.launch" />
  
  	<rosparam command="load" file="$(find myrabot_arm_base)/params/interruptor_1.yaml" ns="interruptor_1" />
  	<rosparam command="load" file="$(find myrabot_arm_base)/params/interruptor_2.yaml" ns="interruptor_2" />
  	<rosparam command="load" file="$(find myrabot_arm_base)/params/interruptor_3.yaml" ns="interruptor_3" />
  	<rosparam command="load" file="$(find myrabot_arm_base)/params/interruptor_4.yaml" ns="interruptor_4" />
  	<rosparam command="load" file="$(find myrabot_arm_base)/params/interruptor_5.yaml" ns="interruptor_5" />
  
  	<node name="interruptores" pkg="myrabot_arm_base" type="interruptores" output="screen" args="interruptor_1 interruptor_2 interruptor_3 interruptor_4 interruptor_5" />



        <node pkg="rosbag" type="record" name="record" output="screen" args="-o /home/fran/Desktop/WatermelonFBM2.bag /roah_rsbb/visitor /roah_rsbb/benchmark/state /roah_rsbb/devices/bell /roah_rsbb/devices/state /object_class /object_instance /object_pose2d /object_pose /camera/rgb/image_color /camera/depth_registered/points"> 
        </node> 

</launch>
