<launch>

  <node name="serial_node" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" />
  
   <node name="joint_states_brazo" pkg="myrabot_arm_base_b" type="joint_states_brazo" /> 
  
  <node name="pick" pkg="myrabot_arm_base_b" type="pick" />
  
  <node name="place" pkg="myrabot_arm_base_b" type="place" />  

</launch>
