<launch>

	<param name="robot_description" command="$(find xacro)/xacro.py '$(find myrabot_robot_model)/urdf/myrabot.urdf.xacro'" />

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> 
	
	<param name="use_gui" value="true"/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
	
	<remap from="joint_states" to="joint_states_myrabot" />
	
	</node>

	<node name="rviz" pkg="rviz" type="rviz" />

</launch>
