<launch>

 <!--param name="/use_sim_time" value="true" />

  <node name="gazebo" pkg="gazebo" type="gazebo" args="-u $(find turtlebot_gazebo)/worlds/empty.world" respawn="false" output="screen"/>
  <node name="gazebo_gui" pkg="gazebo" type="gui" /-->
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find turtlebot_gazebo)/worlds/empty.world"/>
  </include>   

  <!-- send spring_transmission.urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find myrabot_arm_model_b)/urdf/brazo_real.urdf.xacro'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_brazo" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model brazo" respawn="false" output="screen" />

<group ns="/brazo">

  <rosparam file="$(find myrabot_arm_model_b)/config/controller_gain.yaml" command="load"/>

  <rosparam file="$(find myrabot_arm_model_b)/config/controller.yaml" command="load"/>

  <node name="spawn_controller_brazo" pkg="controller_manager" type="spawner" args="base_pos_controller arti1_pos_controller arti2_pos_controller arti3_pos_controller pinza_pos_controller joint_state_controller" respawn="false" output="screen" />
  
</group>  
  
  <node name="modelo_brazo" pkg="myrabot_arm_model_b" type="modelo_brazo" />
  
</launch>
