<launch>

  <!-- start world -->
  <include file="$(find gazebo_worlds)/launch/empty_world.launch"/>

  <!-- send spring_transmission.urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find myrabot_robot_model)/urdf/estructura-myrabot.urdf.xacro'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_brazo" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -model e_MYRAbot" respawn="false" output="screen" />
  
</launch>
